@page "/Products"
@using Core.Presentation.Models.Models
@using Core.Presentation.Models.Models.DataTransferObjects

@inherits GenericComponentBase<ProductsViewModel, ProductDto>
<PageTitle>Products</PageTitle>
<PageComponent>
    <Body>
      <FormComponent ViewModel="ViewModel.ProductSearchViewModel" >

      </FormComponent>

      <TableComponent 
          ViewModel="ViewModel.ProductTableViewModel"
          OnNewClick="OnCreateNewProduct"
          OnDeleteClick="OnDeleteProduct"
      >

      </TableComponent>
    </Body>
</PageComponent>
<ModalComponent ViewModel="ViewModel.NewProductModalViewModel">
    <Body>
        <FormComponent 
            ViewModel="ViewModel.NewProductFormViewModel"
            OnFormSubmitClick="OnSaveNewProduct"
        >

        </FormComponent>
    </Body>
</ModalComponent>
