@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar nav nav-pills flex-column border-end bg-light">
        <span class="navbar-brand mb-2">EzyBill</span>
        <a href="/" class="nav-link active">Home</a>
        <a href="/Clients" class="nav-link">Clients</a>
        <a href="/Products" class="nav-link">Products</a>
    </nav>
    <main>
        <div class="top-row px-4 bg-white">
          <div class="nav container-fluid">
            
          </div>
        </div>
        <article class="content px-4 bg-light">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    [...document.querySelectorAll(".sidebar .nav-link")].forEach((e,index, currentCollection) => {
       e.addEventListener("click",eventPayload => {
           eventPayload.currentTarget.classList.add("active");
           currentCollection.filter(x => x!==e).forEach(otherE => otherE.classList.remove("active"));
       })
    })
</script>
