@using Question3.PresentationLayer.Views.Shared.Components.FormComponent
@model ClientsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @(await Component.InvokeAsync(
        nameof(FormComponent), 
        new {
            inputFields = Model.searchFields,
            colClass="col-4",
            submitButtonText = "Filter"
        }))
</div>
<div class="card bg-light my-2">
    <div class="card-header">
        <div class="d-flex">
            <button class="btn btn-outline-primary">
                New
            </button>
        </div>
    </div>
    <div class="card-body">

    </div>
</div>
