@page "/"

@inherits GenericComponentBase<ClientsViewModel, ClientDto>

<PageTitle>Client - Management</PageTitle>


<div>
 
    <FormComponent ViewModel="ViewModel.SearchFormComponentViewModel"></FormComponent>

</div>
<div class="card bg-light my-2">
    <div class="card-header">
        <div class="d-flex">
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#new-client-modal" @onclick="()=>{ViewModel.ModalViewModel.Show = true;}">
                New
            </button>
        </div>
    </div>
    <div class="card-body">
     <TableComponent ViewModel="ViewModel.TableConfig"></TableComponent>
    </div>
</div>
<ModalComponent ViewModel="ViewModel.ModalViewModel">
    <Body>
        <div id="client-details">
            <FormComponent ViewModel="ViewModel.NewClientFormViewModel"></FormComponent>
        </div>
        <h5 class="my-3">Primary Contact Details</h5>
        <div id="primary-contact-person">
            <FormComponent ViewModel="ViewModel.PrimaryContactFormViewModel"></FormComponent>
        </div>
    </Body>
    <Footer>
        <button class="btn btn-primary">Submit</button>
    </Footer>
</ModalComponent>