@page "/Clients"
@using ClientManagement.Presentation.Web.Components.Layout
@inherits GenericComponentBase<ClientsViewModel, ClientDto>

<PageTitle>Client - Management</PageTitle>
<PageComponent>
    <Body>
        <div>
            <FormComponent ViewModel="ViewModel.SearchFormComponentViewModel" OnFormSubmitClick="OnSubmitSearchFilters"></FormComponent>
        </div>
        <TableComponent ViewModel="ViewModel.TableConfig"
                        OnViewClick="OnViewTableRecord"
                        OnDeleteClick="OnDeleteTableRecord"
                        OnArchiveClick="OnArchiveTableRecord"
                        OnNewClick="OnCreateNewTableRecord"
                        @ref="ClientsTable">
        </TableComponent>

        <ModalComponent ViewModel="ViewModel.ModalViewModel">
            <Body>
                <div id="client-details">
                    <FormComponent ViewModel="ViewModel.NewClientFormViewModel"></FormComponent>
                </div>
                <h5 class="my-3">Primary Contact Details</h5>
                <div id="primary-contact-person">
                    <FormComponent ViewModel="ViewModel.PrimaryContactFormViewModel"></FormComponent>
                </div>
            </Body>
            <Footer>
                <button @onclick=" async (eventArgs) => { await this.OnNewClientFormSubmitted(ViewModel.NewClientFormViewModel.ViewModelState.FirstOrDefault(), ViewModel.PrimaryContactFormViewModel.ViewModelState.FirstOrDefault());}"
                        class="btn btn-primary">
                    Submit
                </button>
            </Footer>
        </ModalComponent>
    </Body>
</PageComponent>
